body * {
    font-family: Arial, Helvetica, sans-serif;
}

h1, .post__content h3 {
    text-transform: lowercase;
}

h1::first-letter, .post__content h3::first-letter {
    text-transform: uppercase;
}

blockquote {
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 10px;
    color: var(--heading-color);
    border-left: 0.30em solid var(--chr-p-color);
    font-style: italic;
}
.sidebar .logo-title {
    padding-top: 40px !important;
}

figcaption h4 {
    margin: 0
}


.archive li a:hover {
    text-decoration: underline;
}

.post a {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.post a:hover {

    text-decoration-style: solid;
    text-decoration: underline bold;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}

.post .post-title h1 {
    text-transform: none;
    margin-top: 10px;
}

.post .post-thumbnail {
    padding-bottom: 0em;
    height: 0px!;
}

.post__thumbnail {
    height: auto;
    
}

.post__thumbnail-wrapper {
    max-width: 800px;
}

.sidebar .logo-title .title h3 {
    margin: 0em;
}

.post h3 {
    font-size: 2.0rem !important;
}

.sidebar__introduction-profileimage{ 
    width: 250px;
    height: 250px;
}

@media screen and (max-width: 600px) {
    .sidebar__introduction-description {
        display: none;
    }

    .wrapper__sidebar {
        padding: 16px 0 0 0;
    }

    .post__content p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .post__content h3 {
        margin-top: 5px;
        margin-bottom:10px;
    }

    .sidebar__introduction-profileimage{
        display: none;
    }

    .post {
        margin: 10px;
    }
}

.post__meta {
    font-style: italic;
}


@media screen and (min-width: 700px) {
    figure.small {
        max-width: 60%;
        margin: auto;
    }

    .post {
        max-width: 800px;
    }
}

