
h1, .post__content h3 {
    text-transform: lowercase;
}

h1::first-letter, .post__content h3::first-letter {
    text-transform: uppercase;
}

blockquote {
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 10px;
    color: var(--heading-color);
    border-left: 0.30em solid var(--chr-p-color);
    font-style: italic;
}
.sidebar .logo-title {
    padding-top: 40px !important;
}

figcaption h4 {
    margin: 0
}
.post .post-title h1 {
    text-transform: none;
    margin-top: 10px;
}

.post .post-thumbnail {
    padding-bottom: 0em;
    height: 0px!;
}

.post__thumbnail {
    height: auto;
}

.sidebar .logo-title .title h3 {
    margin: 0em;
}

.post h3 {
    font-size: 2.0rem !important;
}

@media screen and (max-width: 600px) {
    .sidebar .description {
        display: none;
    }

    .content {
        margin-top: 0px;
    }

    .sidebar .title img {
        display: none;
    }

    .post {
        margin: 10px;
    }
}


@media screen and (min-width: 800px) {
    figure.small {
        max-width: 60%;
        margin: auto;
    }
}

